.log-in {
    width: 500px;
    min-height: 250px;
    background-color: var(--fallback-text-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10vh;
    padding: 80px 50px;

    border: 1px solid var(--default-bg-border-color);
    border-radius: 8px;

    // &:focus, &:hover {
    //     box-shadow: 4px 18px 24px 0 rgba(#213643, 0.5);
    // }

    & h1, & label, & .button-group {
        margin-top: 30px;
    }


    & h1, & form {
        display: block;
        width: 100%;
        text-align: center;
    }


    & h1 {
        font-size: 24px;
        color: #082057;
        margin-top: 0;
    }


    & h2 {
        font-size: 14px;
        color: rgba(#082057, 0.5);
        margin-top: 10px;
        font-weight: 400;
    }

    & label, & .button-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    & label {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 400;

        & input[type=text], & input[type=password] {
            width: 100%;
            padding: 15px 20px;

            background-color: #FDFCFF;

            border: 0.8px solid #D5DAE2;
            border-radius: 8px;
            
            font-family: var(--font-family-sans-serif);
            font-size: 16px;

            &:focus, &:active, &:hover, &:active, &:focus-within, &:focus-visible {
                border: 0.8px solid #D5DAE2;
            }

            &::placeholder {
                font-size: 16px;
                font-weight: 400;
                color: #52525C;
                opacity: 0.64;
            }
        }
    }

    & .button-group {
        width: 70%;
        margin: 20px auto;

        & input {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        & input[type=submit], & input[type=reset]{
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            text-transform: capitalize;
            
            color: var(--fallback-text-color);
            cursor: pointer;

            padding: 10px 50px;

            border: 1px solid var(--default-bg-border-color);
            border-radius: 5px;
            box-shadow: 2px 8px 24px 0 var(--default-bg-border-color);

            // background: linear-gradient(180deg, #f2f5ff 0%, #f2f5ff 100%);
        }

        & input[type=submit] {
            background-color: #277FFE;
        }

        & input[type=reset] {
            color: #000;
            background-color: #FDD663;
        }
    }
}