.BrandArea {
  display: inline-block;
  height: inherit;
  min-width: 200px;

  padding: 20px 0;

  & img {
    height: auto;
    width: auto;
  }
  
  & a {
    font-family: var(--font-family-sans-serif);
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--brand-color);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.MenuArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.MenuArea ul {
  list-style: none;

  &, & li {
    display: flex;
    flex-direction: row;
    
    margin-right: 10px;

    & a {
      padding: 28px 15px;
      color: var(--menu-text-color);

      width: auto;

      font-size: 16px;
      font-weight: 600;

      text-transform: capitalize;
      border-bottom: 2px solid rgba(0,0,0,0);

      /* &:focus {
        font-weight: 700;
      } */

      &:hover, &:active, &:focus {
        /* added brand color */
        background-color: rgba(#0577cc, 0.1);
        border-bottom: 2px solid var(--brand-color);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


/* humberger */
/* https://codepen.io/sitanotern1337/pen/xyQppZ */

.humberger-icon {
  margin-left: 15px;
  padding: 0;
  float: left;
  transition: opacity 300ms;
  display: none;
}

.humberger-icon:hover {
  cursor: pointer;
  opacity: .5;
}

.humberger-icon .line{
  width: 30px;
  height: 3px;
  background: rgb(236, 66, 66);
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.humberger-icon .line:nth-child(1) {
  background-color: var(--brand-color);
}

.humberger-icon .line:nth-child(2) {
  background-color: rgba(#0577cc, 0.5);
}

.humberger-icon .line:nth-child(3) {
  background-color: var(--brand-color);
}

.humberger-icon.isactive .line:nth-child(2) {
  opacity: 0;
}

.humberger-icon.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.humberger-icon.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}